* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: "Poppins", sans-serif;*/
  font-family: Helvetica, sans-serif;
}

/********* H1 Klassen*****/
h1 {
  padding-top: 7%;
  padding-left: 10%;
  padding-bottom: 3%;
  text-align: left;
  font-size: 64px;
  color: #78f9e6;
}

.h1-black {
  color: #161616;
}

p {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
  position: center;
  font-size: 30px;
  color: #ffffff;
  max-width: 100%;
  line-height: 150%;
  letter-spacing: 1px;
  text-align: justify;
}
.dark {
  color: #161616;
}

/*******Sections*******/
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  background: #161616;
}

.light-bg {
  background-color: #78f9e6;
}

div.top {
  position: relative;
  width: 100%;
  height: 30%;
  align-items: center;
  background: #171717;
}

div.bottom {
  position: relative;
  width: 100%;
  height: 69%;
  align-items: center;
  background: #171717;
}

div.leftside {
  float: left;
  position: relative;
  width: 60%;
  min-height: 100vh;
  align-items: center;
  background: #171717;
}

div.rightside {
  float: left;
  position: relative;
  width: 40%;
  min-height: 100vh;
  align-items: center;
  background: #171717;
}
.boredmarc {
  text-align: center;
  padding-top: 30%;
}

.boredmarcimg {
  width: 62%;
}

.warenkorb {
  background-color: #78f9e6;
}

.captcha {
  background-color: #78f9e6;
}
/*******Sections Ende*******/

form {
  color: #161616;
  padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 1%;
  text-align: left;
  font-size: 25px;
}

#field {
  margin-bottom: 3%;
  padding-top: 2%;
  padding-left: 10%;
  padding-bottom: 1%;
  text-align: left;
  border: none;
  border-radius: 10px;
  font-size: 40px;
}

label {
  font-size: 40px;
}
/********* H1 Klassen Ende*****/

/********* H2 Klassen*****/

/* gehört zu h2*/
.umwelt {
  color: #78f9e6;
  padding-top: 0.5%;
  padding-left: 10%;
  padding-bottom: 0.5%;
  text-align: left;
  font-size: 30px;
  font-weight: regular;
}

/* gehört zu h2*/
.kapitalismus {
  color: #78f9e6;
  padding-top: 0.5%;
  padding-left: 10%;
  padding-bottom: 0.5%;
  text-align: left;
  font-size: 30px;
  font-weight: regular;
}

/* gehört zu h2*/
.schaden {
  color: #78f9e6;
  padding-top: 0.5%;
  padding-left: 10%;
  padding-bottom: 0.5%;
  text-align: left;
  font-size: 30px;
  font-weight: regular;
}

/********* H2 Klassen Ende *****/

.button-forntpage {
  padding-left: 10%;
}

.button {
  padding-left: 10%;

  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 27px;
  margin: 4px 2px;
  cursor: pointer;

  background-color: #161616;
  border-color: #78f9e6;
  border-width: 4px;
  border-style: solid;
  border-radius: 18px;
}

/* img {
  width: 80%;
  padding-top: 2%;
  padding-left: 10%;
  padding-bottom: 1%;
} */
